Write a python program to print “Hello Students”.

In [1]:
 print("Hello Students")

Hello Students

Write a program to print your address i) using single print ii) using multiple print.

In [9]:
print("Gayatri plastic industries")
print("Repute food gate")
print("shapar veralval")
print()
print('''Gayatri plastic industries
Repute food gate
shapar veralval''')

Gayatri plastic industries
Repute food gate
shapar veralval

Gayatri plastic industries
Repute food gate
shapar veralval

Write a program to print addition of two numbers (without input function).

In [11]:
a = 5
b = 20

print("sum : " +str(a+b))

sum : 25

Write a program to calculate and print average of two numbers (without input function).

In [12]:
a = 5
b = 20
avg = (a + b)/2

print("Average of ",a," and ",b," is ",avg)

Average of  5  and  20  is  12.5

Write a program to raise indentation error and correct it.

In [15]:
print("this is first lab of python.")
   #print("this line will generate error")
print("above line will generate error")

this is first lab of python.
above line will generate error

Write a program that prints "Hello-World" using seprator

In [17]:
print("Hello" , "World", "world",sep="-")

Hello-World-world

Write a program that prints "Hello-DU Hello DU " using seperator and using end

In [19]:
print("Hello", "DU", sep="-", end=" ")
print("Hello", "DU")

Hello-DU Hello DU

#1 wap to calculate simple interest

In [21]:
p = int(input("Enter p : "))
r = int(input("Enter r : "))
n = int(input("Enter n : "))

si = (p * r * n)/100

print("Simple interest : ", si)

Enter p : 10
Enter r : 10
Enter n : 10
Simple interest :  10.0

#2 wap to calculate Area of triangle (hint : AREA = height * base *0.5)

In [22]:
b = int(input("Enter Base : "))
h = int(input("Enter height : "))

area = (b * h) / 2

print("area : ",area)

Enter Base : 3
Enter height : 5
area :  7.5

#3 wap to calculate area circumference of Circle (hint : area = pi*r*r circumference = 2*pi*r)

In [23]:
r = int(input("Enter radius : "))

area = 3.14 * r ** 2

crm =   2 * 3.14 * r

print("Circumference of ",r, " is ",crm)
print("Area of ",r, " is ",area)

Enter radius : 5
Circumference of  5  is  31.400000000000002
Area of  5  is  78.5

#4 wap to convert degree into fahrenhit and vice versa (cel = (fah - 32)*5)/9 )

In [25]:
cel = int(input("Enter celcius : "))

fah = int(input("Enter fahrenhit : "))

f = ((cel * 9)/5) + 32

c = ((fah - 32)*5)/9

print(cel," celcius : ",f," fahrenhit")
print(fah, " fahrenhit ",c," celcius")

Enter celcius : 45
Enter fahrenhit : 45
45  celcius :  113.0  fahrenhit
45  fahrenhit  7.222222222222222  celcius

#5 WAP to calculate total marks and percentage of 5 subjects.

In [27]:
s1 = int(input("Enter Marks : "))
s2 = int(input("Enter Marks : "))
s3 = int(input("Enter Marks : "))
s4 = int(input("Enter Marks : "))
s5 = int(input("Enter Marks : "))

total = s1 + s2 + s3 + s4 + s5 

per = ( 100 * total ) / 150

print("Your total is ",total, " and ",per,"%")

Enter Marks : 30
Enter Marks : 30
Enter Marks : 28
Enter Marks : 30
Enter Marks : 27
Your total is  145  and  96.66666666666667 %

#6 wap to print multiplication table of given number without using loop

In [35]:
n = int(input("Enter number : "))
print(n," x ",1,"=",(n*1))
print(n," x ",2,"=",(n*2))
print(n," x ",3,"=",(n*3))
print(n," x ",4,"=",(n*4))
print(n," x ",5,"=",(n*5))
print(n," x ",6,"=",(n*6))
print(n," x ",7,"=",(n*7))
print(n," x ",8,"=",(n*8))
print(n," x ",9,"=",(n*9))
print(n," x ",10,"=",(n*10))

Enter number : 5
5  x  1 = 5
5  x  2 = 10
5  x  3 = 15
5  x  4 = 20
5  x  5 = 25
5  x  6 = 30
5  x  7 = 35
5  x  8 = 40
5  x  9 = 45
5  x  10 = 50

#7.o wap to convert seconds into hours, minutes & seconds and print in HH : MM : SS (with modulo)

In [41]:
sec = int(input("Enter time : "))

h = int(sec / 3600)
sec %= 3600

m = int(sec / 60)
sec %= 60

print(h, m, sec ,sep=" : ")

Enter time : 10000
2 : 46 : 40

#7.1 wap to convert seconds into hours, minutes & seconds and print in HH : MM : SS ( withpout modulo)

In [42]:
sec = int(input("Enter time : "))

h = int(sec / 3600)
sec = sec - h*3600

m = int(sec / 60)
sec = sec - m*60

print(h, m, sec ,sep=" : ")

Enter time : 10000
2 : 46 : 40

#8. WAP to convert Days into years, weeks & days

In [44]:
day = int(input("Enter time : "))

y = int(day / 365)
day %= 365

w = int(day / 7)
day %= 7

print(y,w,day, sep=" : ")

Enter time : 366
1 : 0 : 1