___
<a href='https://www.darshan.ac.in/'><center> <img width=20% height=20% src='https://www.darshan.ac.in/Content/media/DU_Logo.svg'/></center></a>
<pre>
<center><b>Python</b></center>
<center><b>Lab - 5(LOOP)</b></center>    
</pre>
____

<pre>
<h3> <p style="color:red"> USING WHILE LOOP</p> </h3>
</pre>

## 1) WAP to print 1 to n

In [2]:
n = int(input("Enter the number :"))
i = 1
while (i <= n):
    print(i)
    i += 1

Enter the number :5
1
2
3
4
5

## 2)WAP to print odd numbers between given two numbers.

In [5]:
n1 = int(input("Enter the number :"))
n2 = int(input("Enter the number :"))
i = n1
while (i <= n2):
    if(i % 2 == 1):
        print(i)
    i += 1

Enter the number :5
Enter the number :10
5
7
9

 ## 3) WAP to print n number of sum

In [6]:
n = int(input("Enter the number :"))
sum = 0
i = 1
while (i <= n):
    sum += i
    i += 1
print(sum)

Enter the number :5
15

## 4) WAP to print sum of digits of given number.

In [13]:
n = int(input("Enter the number :"))
sum = 0
while (n > 0):
    rem = int(n) % 10
    sum += rem
    n = n // 10
print(sum)

Enter the number :123
6

## 5)  WAP to find whether the given number is prime or not.

In [31]:
n = int(input("Enter the number :"))
i = 2
flag = 0
while (i < n//2):
    if(n % i == 0):
        flag = 1
    i += 1
if(flag != 1):
    print(n, " is prime number.")
else :
    print("It is not prime number.")

Enter the number :13751
13751  is prime number.

<pre>
<h3><p style="color:red"> USING FOR LOOP </p> </h3>
</pre>

## 7) WAP to print sum of series 1–2+3–4+5–6+7...n

In [25]:
n = int(input("Enter the number : "))
sum = 0
for i in range(n+1) : 
    if(i % 2 == 1):
        sum += i
    else :
        sum -= i
print(sum)

Enter the number : 7
4

## 8) WAP to print multiplication table of given number.(using for loop)

In [24]:
n = int(input("Enter number : "))
for i in range(11) :
    print(n," x ",i,"=",(n*i))

Enter number : 5
5  x  0 = 0
5  x  1 = 5
5  x  2 = 10
5  x  3 = 15
5  x  4 = 20
5  x  5 = 25
5  x  6 = 30
5  x  7 = 35
5  x  8 = 40
5  x  9 = 45
5  x  10 = 50

## 9) WAP to find factorial of the given number.

In [3]:
n = int(input("Enter the num : "))
multi = 1
i = 1
for i in range(1,n+1):
    multi *= i
print(multi)

Enter the num : 5
120

## 10) WAP to find out prime numbers between given two numbers.

In [7]:
print(" Enter Range : ")
n1 = int(input("Enter the number : "))
n2 = int(input(" Enter the number : "))
list1 = list()
for temp in range(n1, n2):
    i = 2
    flag = 0
    while (i < temp//2):
        if(temp % i == 0):
            flag = 1
        i += 1
    if(flag == 0) :
        list1.append(temp)
        print(temp)
    temp += 1
print(list1)

 Enter Range :
Enter the number : 100
 Enter the number : 1000
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
[101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

<h3><p style="color:red">EXTRA</p></h3>

## 1) WAP to Find largest prime factor of given number.

In [32]:
n = int(input("NUM : "))

temp=0
for fact in range(1,n+1) :
    if(n % fact == 0 ):
        flag = 0
        for i in range(2,fact) :
            if(fact % i == 0) :
                flag = 1
        if( flag == 0 ) :
            if(fact > temp) :
                temp = fact
print(temp)

NUM : 1511
1511

## 2) WAP to print Fibonacci series up to number given by user.

In [38]:
n = int(input(" NUM : "))

fibonacci = []
n1 = 0
n2 = 1
n3 = n1 + n2
fibonacci.append(n1)
fibonacci.append(n2)
fibonacci.append(n3)
for i in range(n-3) :
    n1 = n2 
    n2 = n3
    n3 = n1 + n2
    fibonacci.append(n3)
print(fibonacci)

 NUM : 5
[0, 1, 1, 2, 3]


## 3) WAP to print all the number which are divisible by 11 but not divisible by 2 betweengiven two numbers.

In [39]:
print("enter the range.")
n1 = int(input("Enter the number : "))
n2 = int(input("Enter the number : "))
list1 = []
for i in range(n1, n2+1) :
    if((i % 11 == 0) and (i % 2 != 0)) :
        list1.append(i)
print(list1)

enter the range.
Enter the number : 10
Enter the number : 100
[11, 33, 55, 77, 99]